<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Admin dashboard</title>
</head>

<body>
  <fieldset>
    <legend>admin dashboard</legend>
    <h1>Welcome home <%= uname %> </h1>
      <table>
        <tr>
          <td></td>
        </tr>
        <tr>
          <td></td>
        </tr>
        <tr>
          <td><a href="/admin/allemployee">ALL Employee List</a></td>
          <td><a href="/admin/addemployee">Add Employee</a></td>
        </tr>

      </table>
  </fieldset>
</body>

</html>
