<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Admin dashboard</title>
</head>

<body>
  <fieldset>
    <legend>employee dashboard</legend>
    <h1>Welcome home <%= uname %> </h1>
    <table>
      <tr>
        <td></td>
      </tr>
      <tr>
        <td></td>
      </tr>
      <tr>
        <td><a href="/employee/myprofile/<%= uname %>">my profile</a></td>
        <td><a href="/employee/updateemp/<%= uname %>">update profile</a></td>
      </tr>

    </table>
  </fieldset>
</body>

</html>