<!DOCTYPE html>
<html>
<head>
	<title>Delete</title>
	<link rel="stylesheet" type="text/css" href="abc/style.css">

</head>
<body>

	<a href="/employee">Back</a>|
	<a href="/logout">Logout</a>


	<h3>Delete User</h3>

	<form method="post">
		<table border="1">
			<tr>
				<td>Username</td>
				<td><%= user.username %></td>
			</tr>
			<tr>
				<td>designation</td>
				<td><%= user.type %></td>
			</tr>
			<tr>
				<td>phone</td>
				<td><%= user.phone %></td>
			</tr>
		</table>
	</form>

</body>
</html>
